<!DOCTYPE html>
<html lang="en" id="top-of-site" class="js">
  <head>
    <title>
      CSS-Tricks - Slider using Cascading Style Sheets.
    </title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="home blog">
    <div class="page-wrap">
      <section
        class="monthly-mixup popular-articles"
        aria-labelledby="monthly-mixup-title"
      >
        <div class="popular-header header-card">
          <h2 class="header-card-title" id="monthly-mixup-title">
            The<br />Monthly<br />Mixup
          </h2>
          <p class="header-card-sponsor">
            Powered by
            <br />
            <a
              href="https://try.digitalocean.com/css-tricks/?utm_source=css-tricks.com&amp;utm_medium=cta&amp;utm_campaign=website_link"
              >DigitalOcean</a
            >
          </p>
        </div>
        <div class="mini-card-grid">
          <article
            class="mini-card module module-article article"
            id="mini-post-259594"
          >
            <time
              datetime="2017-09-04"
              title="Originally published Sep 4, 2017"
            >
              <strong> Article </strong>
              on Sep 4, 2017
            </time>
            <h3 class="mini-card-title">
              <a
                href="https://css-tricks.com/switching-site-https-shoestring-budget/"
              >
                Switching Your Site to HTTPS on a Shoestring Budget
              </a>
            </h3>
            <div class="tags">
              <a href="https://css-tricks.com/tag/cloudflare/" rel="tag"
                >cloudflare</a
              >
              <a href="https://css-tricks.com/tag/github/" rel="tag">github</a>
              <a href="https://css-tricks.com/tag/https/" rel="tag">https</a>
            </div>
            <div class="author-row">
              <a
                href="https://css-tricks.com/author/schmitt/"
                aria-label="Author page of Christopher Schmitt"
              >
                <img
                  alt=""
                  src="https://secure.gravatar.com/avatar/d37d78125c82f4d0e7ac42574aca22a4?s=80&amp;d=retro&amp;r=pg"
                  srcset="
                    https://secure.gravatar.com/avatar/d37d78125c82f4d0e7ac42574aca22a4?s=160&amp;d=retro&amp;r=pg 2x
                  "
                  class="avatar avatar-80 photo"
                  height="80"
                  width="80"
                  loading="lazy"
                  decoding="async"
                />
              </a>
              <a
                class="author-name"
                href="https://css-tricks.com/author/schmitt/"
              >
                Christopher Schmitt
              </a>
            </div>
          </article>
          <article
            class="mini-card module module-article article"
            id="mini-post-345582"
          >
            <time
              datetime="2021-07-30"
              title="Originally published Jul 30, 2021"
            >
              <strong> Video </strong>
              on Aug 6, 2021
            </time>
            <h3 class="mini-card-title">
              <a
                href="https://css-tricks.com/video-screencasts/208-a-css-grid-layout-with-pictures-down-one-side-matched-up-with-paragraphs-on-the-other/"
              >
                #208: A CSS Grid Layout with Pictures Down One Side Matched Up
                with Paragraphs on the Other
              </a>
            </h3>
            <div style="color: #777">▶ Running Time: 21:17</div>
            <div class="author-row">
              <a
                href="https://css-tricks.com/author/chriscoyier/"
                aria-label="Author page of Chris Coyier"
              >
                <img
                  alt=""
                  src="https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=80&amp;d=retro&amp;r=pg"
                  srcset="
                    https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=160&amp;d=retro&amp;r=pg 2x
                  "
                  class="avatar avatar-80 photo"
                  height="80"
                  width="80"
                  loading="lazy"
                  decoding="async"
                />
              </a>
              <a
                class="author-name"
                href="https://css-tricks.com/author/chriscoyier/"
              >
                Chris Coyier
              </a>
            </div>
          </article>
          <article
            class="mini-card module module-article article"
            id="mini-post-374647"
          >
            <time
              datetime="2022-11-04"
              title="Originally published Nov 4, 2022"
            >
              <strong> Almanac </strong>
              on Nov 17, 2022
            </time>
            <h3 class="mini-card-title">
              <a
                href="https://css-tricks.com/almanac/properties/b/border-image-source/"
              >
                border-image-source
              </a>
            </h3>
            <a
              href="https://css-tricks.com/almanac/properties/b/border-image-source/"
              class="almanac-example"
            >
              <code class="language-css"
                ><span class="token selector"
                  ><span class="token class">.element</span></span
                >
                <span class="token punctuation">{</span>
                <span class="token property">border-image-source</span
                ><span class="token punctuation">:</span>
                <span class="token url">url('path/to/image.webp')</span
                ><span class="token punctuation">;</span>
                <span class="token punctuation">}</span></code
              >
            </a>
            <div class="author-row">
              <a
                href="https://css-tricks.com/author/sunkanmifafowora/"
                aria-label="Author page of Sunkanmi Fafowora"
              >
                <img
                  alt=""
                  src="https://secure.gravatar.com/avatar/55c2800a1670a25d9ae52278976d5661?s=80&amp;d=retro&amp;r=pg"
                  srcset="
                    https://secure.gravatar.com/avatar/55c2800a1670a25d9ae52278976d5661?s=160&amp;d=retro&amp;r=pg 2x
                  "
                  class="avatar avatar-80 photo"
                  height="80"
                  width="80"
                  loading="lazy"
                  decoding="async"
                />
              </a>
              <a
                class="author-name"
                href="https://css-tricks.com/author/sunkanmifafowora/"
              >
                Sunkanmi Fafowora
              </a>
            </div>
          </article>
          <article
            class="mini-card module module-article article"
            id="mini-post-251715"
          >
            <time
              datetime="2017-02-20"
              title="Originally published Feb 20, 2017"
            >
              <strong> Article </strong>
              on Feb 20, 2017
            </time>
            <h3 class="mini-card-title">
              <a href="https://css-tricks.com/squeezy-stretchy-flexbox-nav/">
                Squeezy Stretchy Flexbox Nav
              </a>
            </h3>
            <div class="tags">
              <a href="https://css-tricks.com/tag/flexbox/" rel="tag"
                >flexbox</a
              >
              <a href="https://css-tricks.com/tag/navigation/" rel="tag"
                >navigation</a
              >
              <a href="https://css-tricks.com/tag/off-canvas/" rel="tag"
                >off-canvas</a
              >
            </div>
            <div class="author-row">
              <a
                href="https://css-tricks.com/author/chriscoyier/"
                aria-label="Author page of Chris Coyier"
              >
                <img
                  alt=""
                  src="https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=80&amp;d=retro&amp;r=pg"
                  srcset="
                    https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=160&amp;d=retro&amp;r=pg 2x
                  "
                  class="avatar avatar-80 photo"
                  height="80"
                  width="80"
                  loading="lazy"
                  decoding="async"
                />
              </a>
              <a
                class="author-name"
                href="https://css-tricks.com/author/chriscoyier/"
              >
                Chris Coyier
              </a>
            </div>
          </article>
          <article
            class="mini-card module module-article article"
            id="mini-post-13980"
          >
            <time
              datetime="2011-08-31"
              title="Originally published Aug 31, 2011"
            >
              <strong> Almanac </strong>
              on Feb 1, 2023
            </time>
            <h3 class="mini-card-title">
              <a
                href="https://css-tricks.com/almanac/properties/b/backface-visibility/"
              >
                backface-visibility
              </a>
            </h3>
            <a
              href="https://css-tricks.com/almanac/properties/b/backface-visibility/"
              class="almanac-example"
            >
              <code class="language-css"
                ><span class="token selector"
                  ><span class="token class">.element</span></span
                >
                <span class="token punctuation">{</span>
                <span class="token property">backface-visibility</span
                ><span class="token punctuation">:</span> hidden<span
                  class="token punctuation"
                  >;</span
                >
                <span class="token punctuation">}</span></code
              >
            </a>
            <div class="tags">
              <a href="https://css-tricks.com/tag/3d/" rel="tag">3d</a>
              <a
                href="https://css-tricks.com/tag/backface-visibility/"
                rel="tag"
                >backface-visibility</a
              >
            </div>
            <div class="author-row">
              <a
                href="https://css-tricks.com/author/saracope/"
                aria-label="Author page of Sara Cope"
              >
                <img
                  alt=""
                  src="https://secure.gravatar.com/avatar/84da92f298e5b124d92fb581b82cfdf4?s=80&amp;d=retro&amp;r=pg"
                  srcset="
                    https://secure.gravatar.com/avatar/84da92f298e5b124d92fb581b82cfdf4?s=160&amp;d=retro&amp;r=pg 2x
                  "
                  class="avatar avatar-80 photo"
                  height="80"
                  width="80"
                  loading="lazy"
                  decoding="async"
                />
              </a>
              <a
                class="author-name"
                href="https://css-tricks.com/author/saracope/"
              >
                Sara Cope
              </a>
            </div>
          </article>
          <article
            class="mini-card module module-article article"
            id="mini-post-360899"
          >
            <time
              datetime="2022-01-19"
              title="Originally published Jan 19, 2022"
            >
              <strong> Article </strong>
              on Jan 19, 2022
            </time>
            <h3 class="mini-card-title">
              <a href="https://css-tricks.com/css-dappled-light-effect/">
                A Serene CSS Dappled Light Effect
              </a>
            </h3>
            <div class="tags">
              <a href="https://css-tricks.com/tag/emoji/" rel="tag">emoji</a>
              <a href="https://css-tricks.com/tag/mix-blend-mode/" rel="tag"
                >mix-blend-mode</a
              >
              <a href="https://css-tricks.com/tag/shadow/" rel="tag">shadow</a>
            </div>
            <div class="author-row">
              <a
                href="https://css-tricks.com/author/preethi/"
                aria-label="Author page of Preethi"
              >
                <img
                  alt=""
                  src="https://secure.gravatar.com/avatar/f0607686c32fd18a7af74392a2652860?s=80&amp;d=retro&amp;r=pg"
                  srcset="
                    https://secure.gravatar.com/avatar/f0607686c32fd18a7af74392a2652860?s=160&amp;d=retro&amp;r=pg 2x
                  "
                  class="avatar avatar-80 photo"
                  height="80"
                  width="80"
                  loading="lazy"
                  decoding="async"
                />
              </a>
              <a
                class="author-name"
                href="https://css-tricks.com/author/preethi/"
              >
                Preethi
              </a>
            </div>
          </article>
          <article
            class="mini-card module module-article article"
            id="mini-post-5732"
          >
            <time
              datetime="2010-02-23"
              title="Originally published Feb 23, 2010"
            >
              <strong> Snippet </strong>
              on Jun 9, 2021
            </time>
            <h3 class="mini-card-title">
              <a href="https://css-tricks.com/snippets/html/mailto-links/">
                Mailto Links
              </a>
            </h3>
            <div class="author-row">
              <a
                href="https://css-tricks.com/author/chriscoyier/"
                aria-label="Author page of Chris Coyier"
              >
                <img
                  alt=""
                  src="https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=80&amp;d=retro&amp;r=pg"
                  srcset="
                    https://secure.gravatar.com/avatar/8081b26e05bb4354f7d65ffc34cbbd67?s=160&amp;d=retro&amp;r=pg 2x
                  "
                  class="avatar avatar-80 photo"
                  height="80"
                  width="80"
                  loading="lazy"
                  decoding="async"
                />
              </a>
              <a
                class="author-name"
                href="https://css-tricks.com/author/chriscoyier/"
              >
                Chris Coyier
              </a>
            </div>
          </article>
        </div>
      </section>
    </div>
  </body>
</html>
