* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  color: #444;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
    height: 100vh;
    position: relative;
    color: #fff;
    background-image: linear-gradient(to right,rgba(24, 23, 23, 0.6), rgba(47, 51, 53, 0.6)) ,url("./hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header-wrapper {
    width: 50%;
}

nav{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding:32px 0 ;
}

h1 {
    font-size: 52px;
    margin-bottom: 32px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}

.btn:link,
.btn:visited {
    font-size: 20px;
    font-weight: 600;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
}

.btn:hover,
.btn:active{
    background-color: #da7318;
}

h2 {
    font-size: 44px;
    margin-bottom: 48px;
}

section {
    padding: 96px 0;
    background-color: #f7f7f7;
}