* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  font-size: 24px;
  height: 100vh;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav,
section,
main,
aside {
  padding: 24px;
}

nav {
  background-color: #343a40;
  color: #fff;
  grid-row: 1 / -1;
}

menu {
  background-color: #7048e8;
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}

button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background-color: #5f3dc4;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
}

button:last-child {
  background-color: #d6336c;
  margin-left: auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 40px;

  overflow-y: scroll;
  background-color: #e9ecef;
  padding: 40px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  height: 96px;
  background-color: #adb5bd;
  font-weight: bold;
  cursor: pointer;
}

aside {
  background-color: #e9ecef;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7048e8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5f3dc4;
}
